:root {
    --color-one: #111111;
    --color-two: #FFFFFF;
    --color-three: #1111111A;
    --color-four: #FD9222;
    --color-five: #111111B2;
    --color-six: #4C4C4C;
    --color-seven: #ECEDED;
    --color-eight: #FAFAFA;
    --color-nine: #FFFFFF80;
    --color-ten: #1E1823;
    --color-eleven: #FFFFFFB2;
    --color-twelve: #FCF1E0;
    --color-thirteen: #000000;
    --color-fourteen: #00000066;
    --color-fifteen: #00000033;
    --color-sixteen: #11111100;
    --color-seventeen: #F5F4F4;
    --color-eighteen: #FFFFFF1A;
}

.image-class {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
}

.advantages-section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 72px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.advantages-list-element {
    padding-right: 28px;
}

.advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 22px;
}

.advantages-text-head {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 18px;
    line-height: normal;
}

.advantages-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    width: 308px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .advantages-section {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 100px;
    }

    .advantages-list {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding-left: 50px;
        padding-right: 50px;
    }
}